/*CSS varijable da bi se izbjegla ponavljanja*/
:root {
    --hf_bgcolor: #065bb0a0;
    /* boja pozadine za header i footer */
    --content-border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('images/fet.jpg');
    background-blend-mode: multiply;
    /* Da se vidi i slika i boja  */
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.institution-title {
    margin-left: 5%;
    font-size: 22px;
    display: inline;
    text-align: left;
}

.logo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border-radius: var(--content-border-radius);
}

header,
footer {
    background-color: var(--hf_bgcolor);
    color: white;
    text-align: center;
    padding: 1em 0;
}

header {
    border-bottom-left-radius: var(--content-border-radius);
    border-bottom-right-radius: var(--content-border-radius);
}

footer {
    border-top-left-radius: var(--content-border-radius);
    border-top-right-radius: var(--content-border-radius);
}

nav {
    margin-top: -20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    border-radius: 20px;
}

nav a:hover {
    background-color: #005588;
}

/* Stilovi za glavnu stranicu  */
.left-sidebar,
.right-sidebar {
    width: 20%;
    background-color: #ddd;
    padding: 1em;
}

.promo-video {
    border: 4px solid #000;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.main-content {
    width: 60%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 0;
    margin: 1em auto;
}

.main-alt {
    border-radius: var(--content-border-radius);
}

.left-sidebar {
    margin: 1em 0;
    border-top-left-radius: var(--content-border-radius);
    border-bottom-left-radius: var(--content-border-radius);
}

.right-sidebar {
    margin: 1em 0;
    border-top-right-radius: var(--content-border-radius);
    border-bottom-right-radius: var(--content-border-radius);
}

.group-members .member {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.group-members img {
    scale: 120%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1em;
    object-fit: cover;
}

.group-members img:hover {
    transition-duration: 250ms;
    width: 70px;
    height: 70px;
}

.news h2 {
    text-align: center;
}

.news-item {
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 1px solid #737373;
}

.news-item p {
    text-align: justify;
}

.news-item img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 40px;
}

.institutions .institution {
    margin-bottom: 1em;
}

.institution p {
    text-align: left;
    font-size: 0.8em;
}

.institution ul {
    font-size: 0.8em;
    margin-left: -1.5em;
    list-style-type: square;
}

.institution a {
    text-decoration: none;
    font-size: 0.9em;
}

.institution a:hover {
    text-decoration: underline;
}

.youtube-video iframe {
    width: 100%;
}

/* Stilovi za odsjeke  */
.departments .department {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f9f9f9;
    border-left: 5px solid #003366;
}

/* Stilovi za savjete i kontakt formu  */

.tip p {
    text-align: justify;
}

.tip ul {
    text-align: justify;
}

.tips .tip {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f9f9f9;
    border-left: 5px solid #003366;
}

.tips h2 {
    text-align: center;
}

.tip #exercises {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: #d5d5d5;
    padding: 5px;
    margin: 20px 0;
}

.tip #exercises:hover {
    transition: 0.2s;
    background-color: #aaaaaa;
}

.tip-link {
    text-decoration: none;
}

.tip-link:hover {
    transition-duration: 0.2s;
    color: darkblue;
}

.contact-form {
    background-color: white;
    padding: 1em;
    margin-top: 1em;
}

.contact-form button {
    border-radius: 10px;
}

.form-group {
    margin-bottom: 0.8em;
}

.form-group label {
    display: block;
    margin-bottom: 0.3em;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
}

.custom-form-field {
    position: relative;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
}

.custom-form-field input,
textarea {
    border: none;
    appearance: none;
    background: #ccc;
    padding: 12px;
    border-radius: 10px;
    width: 90%;
    outline: none;
}

.custom-form-field textarea {
    max-width: 90%;
}

.custom-form-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #727272;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom-form-field input.dirty+.placeholder,
.custom-form-field input:focus+.placeholder,
.custom-form-field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}

.custom-form-field textarea.dirty+.placeholder,
.custom-form-field textarea:focus+.placeholder,
.custom-form-field textarea:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 12px;
    color: #222;
}

.custom-form-field input,
textarea {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
        linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #bababa, #bababa) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, #d2d2d2, #bababa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
}

.custom-form-field input.dirty,
.custom-form-field input:not(:placeholder-shown),
.custom-form-field input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom-form-field textarea.dirty,
.custom-form-field textarea:not(:placeholder-shown),
.custom-form-field textarea:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.contact-form button {
    background-color: #003366;
    color: white;
    padding: 0.7em 1em;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #005588;
}

.error-message {
    font-weight: 800;
    color: red;
    font-size: 16px;
    display: block;
    text-align: left;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.social-links a {
    margin: 0 0.5em;
}

.social-links img {
    height: 42px;
}

.social-links img:hover {
    transition-duration: 200ms;
    height: 50px;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
}

#scroll-to-top img {
    width: 70px;
    height: 70px;
}

#scroll-to-top img:hover {
    transition-duration: 200ms;
    opacity: 1;
    background-color: whitesmoke;
    border-style: none;
    border-radius: 70px;
}

@keyframes appear {
    0% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    50% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    55% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-sidebar,
    .right-sidebar,
    .main-content {
        width: 100%;
        border-radius: var(--content-border-radius);
    }

    .institutions .institution {
        margin-right: 2em;
    }

    .youtube-video {
        margin-right: 2em;
    }

    nav {
        margin-top: 0;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        margin-top: 0.5em;
    }

    #scroll-to-top {
        bottom: 5px;
        right: 5px;
    }

    #scroll-to-top img {
        width: 42px;
        height: 42px;
    }

    .news-item {
        margin-right: 2em;
    }

    .news-item img {
        width: 100%;
    }

    .tips h2 {
        margin-right: 2em;
    }

    .tip {
        margin-right: 2em;
    }
    
    .contact-form {
        margin-right: 2em;
    }

    footer p {
        font-size: 12px;
        margin: auto 40px;
    }
}

/* Stilovi za odsjeke  */
.container.departments {
    width: 80%;
    margin: 1em auto;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 2em;
    flex: 1;
    border-radius: var(--content-border-radius);
}

.container.departments h2 {
    text-align: center;
}

.department.toggler {
    background-color: #4a6fa5;
    color: white;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.department.toggler:hover {
    background-color: #3a5a8a;
    color : rgb(228, 219, 219);
}

.content-section {
    display: none;
    margin-bottom: 1em;
}

.bar-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.bar {
    background-color: #4a6fa5;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bar:hover {
    background-color: #3a5a8a;
}

.bar-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: white;
    color: #333;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bar-content p {
    padding: 15px;
    margin: 0;
    text-align: justify;
}

.bar.active+.bar-content {
    max-height: 200px;
    overflow-y: auto;
}

.bar.active .arrow {
    transform: rotate(180deg);
}

.arrow {
    transition: transform 0.3s;
}

#other-content {
    display: none;
    /* ne prikazuje se prije promjene u JavaScriptu */
}

#other-content .other-section {
    background-color: white;
    color: #333;
    padding: 1.5em;
    margin: 1em auto;
    border-radius: 5px;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}